* {
  box-sizing: border-box;
}

.wrapper {
  background: #cccccc;
  max-width: 1200px;
  max-height: 100wh;
  margin: 0 auto;
  border-radius: 10px;
}

.header {
  background: #444444;
  border-radius: 10px;
}

.list {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

.listItem {
  color: white;
  text-transform: uppercase;
  font-size: 1.5em;
  line-height: 200%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.aboutMe {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  border-bottom: 1px solid black;
}

.foto {
  width: 200px;
  height: 250px;
  border-radius: 10%;
}

.name {
  text-transform: uppercase;
  font-size: 2.5em;
  line-height: 200%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.aboutTitle {
  font-size: 1.5em;
  line-height: 50%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.aboutSubtitle {
  font-size: 1em;
  line-height: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 500px;
}

.contact {
  text-align: center;
  font-size: 2em;
  text-transform: uppercase;
  line-height: 50%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.contacts {
  margin-top: 40px;
  background: #ffffff;
  border-radius: 30px;
}

.contactList {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-right: 10px;
}

.skills {
  border-bottom: 1px solid black;
}

.skillsTitle {
  font-size: 2em;
  text-transform: uppercase;
  line-height: 50%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.skillsList {
  display: flex;
  justify-content: space-around;
  list-style-type: square;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.codeExample {
  border-bottom: 1px solid black;
}

.codeTitle {
  font-size: 2em;
  text-transform: uppercase;
  line-height: 50%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.codeList {
  margin-left: 70px;
  list-style-type: square;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.educationTitle {
  font-size: 2em;
  text-transform: uppercase;
  line-height: 50%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.educationList {
  margin-left: 70px;
  list-style-type: square;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #444444;
  border-radius: 10px;
}

.imgeRS {
  width: 70px;
  height: 50px;
}

.imgeGit {
  width: 50px;
  height: 50px;
  border-radius: 5px;
}

.year {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
